opencv-python
streamlit
pillow
psutil
numpy==1.26.4
plotly
dill
streamlit-webrtc 
av
pafy
scipy
youtube_dl==2020.12.2
pytube
huggingface_hub
yt_dlp
onnxruntime
pytubefix
torch==2.3.0
matplotlib==3.9.1
torchvision==0.18.0
streamlit_navigation_bar
